<%= semantic_form_for(classroom) do |form| %>
  <%= render 'shared/errors', model: classroom, name: 'Classroom' %>

  <div class="field">
    <%= form.label :name, class: :label %>
    <%= form.input :name, class: :input, label: false, wrapper_html: { tag: 'div', class: '' }, input_html: { class: 'input' } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-danger' %>
  </div>
<% end %>
