<h1 class="title">Editing Classroom</h1>

<%= render 'form', classroom: @classroom %>

<%= link_to 'Show', @classroom, class: 'button is-info' %>
<%= link_to 'Back', classrooms_path, class: 'button is-info' %>
