<%= render 'shared/notice' %>

<div class="box">
  <div class="field">
    <p class="label">Name:</p>
    <div class="control">
      <%= @classroom.name %>
    </div>
  </div>

  <%= link_to 'Edit', edit_classroom_path(@classroom), class: 'button is-link' %>
  <%= link_to 'Back', classrooms_path, class: 'button is-link' %>
</div>
