<div id='new-teacher-subject'>
  <%= semantic_form_for(
    @teacher_subject,
    url: teacher_teacher_subjects_path(@teacher),
    remote: true
  ) do |form| %>
    <%= render 'shared/errors', model: @teacher_subject, name: 'Teacher' %>

    <div class="field">
      <%= form.label :subject, class: :label %>
      <%= form.input :subject, as: :select,
        collection: Subject.where.not(id: @teacher.subjects),
        label: false,
        wrapper_html: { tag: 'div', class: '' },
        input_html: { class: 'input' }
      %>
    </div>

    <div class="field">
      <%= form.label :level, class: :label %>
      <%= form.input :level, as: :number, label: false, wrapper_html: { tag: 'div', class: '' }, input_html: { class: 'input' } %>
    </div>

    <div class="actions">
      <%= form.submit 'Add' %>
    </div>
  <% end %>
</div>
