<div id='teacher-subject-<%= @teacher_subject.id %>'>
  <%= semantic_form_for(@teacher_subject, remote: true) do |form| %>
    <%= render 'shared/errors', model: @teacher_subject, name: 'Teacher' %>

    <div class="field">
      <%= form.input :level, as: :number, wrapper_html: { tag: 'div', class: '' }, input_html: { class: 'input' } %>
    </div>

      <%= form.submit 'Update', class: 'button is-warning' %>
      <%= link_to 'Remove', teacher_subject_path(@teacher_subject), remote: true, method: :delete, class: 'button is-danger', data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Cancel', teacher_subject_path(@teacher_subject), remote: true, class: 'button is-success' %>
  <% end %>
</div>
