<%= semantic_form_for(schedule) do |form| %>
  <%= render 'shared/errors', model: schedule, name: 'Section' %>

  <div class="field select is-multiple">
    <%= form.label :student_id, class: :label %>
    <%= form.input :student, label: false, as: :select,
      wrapper_html: { tag: 'div', class: '' } %>
  </div>

  <div class="field select is-multiple">
    <%= form.label :classroom, class: :label %>
    <%= form.input :section,
      label: false,
      as: :select,
      wrapper_html: { tag: 'div', class: '' }
    %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-danger' %>
  </div>
<% end %>
