<h1 class="title">Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Show', @schedule, class: 'button is-info' %>
<%= link_to 'Back', schedules_path, class: 'button is-info' %>
