<%= render 'shared/notice' %>

<div class="box">
  <div class="field">
    <p class="label">Student:</p>
    <div class="control">
      <%= @schedule.student %>
    </div>
  </div>

  <div class="field">
    <p class="label">Section:</p>
    <div class="control">
      <%= @schedule.section %>
    </div>
  </div>

  <%= link_to 'Edit', edit_schedule_path(@schedule), class: 'button is-link' %>
  <%= link_to 'Back', schedules_path, class: 'button is-link' %>

</div>
