<% if model.errors.any? %>
  <article class="message is-danger">
    <div id="error_explanation2" class="message-header">
      <p><%= pluralize(model.errors.count, "error") %> prohibited this <%= name %> from being saved:</p>
    </div>
    <ul class="message-body">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </article>
<% end %>
