<% if notice %>
  <div id="notice" class="message is-success">
    <div class="message-header">
      <p>Warning:</p>
    </div>
    <div class="message-body">
      <%= notice %>
    </div>
  </div>
<% end %>
