<%= semantic_form_for(section) do |form| %>
  <%= render 'shared/errors', model: section, name: 'Section' %>

  <div class="field select is-multiple">
    <%= form.label :teacher_id, class: :label %>
    <%= form.input :teacher, label: false, as: :select,
      wrapper_html: { tag: 'div', class: '' } %>
  </div>

  <div class="field select is-multiple">
    <%= form.label :classroom_id, class: :label %>
    <%= form.input :classroom, label: false, as: :select,
      wrapper_html: { tag: 'div', class: '' } %>
  </div>

  <div class="field select is-multiple">
    <%= form.label :days, class: :label %>
    <%= form.input :days, label: false, as: :select,
      collection: options_for_days,
      multiple: true,
      include_blank: false,
      wrapper_html: { tag: 'div' } %>
  </div>

  <div class="field">
    <%= form.label :starts_at, class: :label %>
    <div class="control">
      <%= form.time_field :starts_at, class: :input,
        value: section.human_starts,
        min: '07:30:00',
        max: '21:10:00'
      %>
    </div>
  </div>

  <div class="field">
    <%= form.label :ends_at, class: :label %>
    <div class="control">
      <%= form.time_field :ends_at, as: :time_select, class: :input,
        value: section.human_ends,
        min: '07:50:00',
        max: '22:00:00'
      %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-danger' %>
  </div>
<% end %>
