<h1 class="title">Editing Section</h1>

<%= render 'form', section: @section %>

<%= link_to 'Show', @section, class: 'button is-info' %>
<%= link_to 'Back', sections_path, class: 'button is-info' %>
