<%= render 'shared/notice' %>

<h1 class="title">Sections</h1>

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Classroom</th>
      <th>Days</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.teacher %></td>
        <td><%= section.classroom %></td>
        <td><%= section.days_human %></td>
        <td><%= section.human_starts %></td>
        <td><%= section.human_ends %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path, class: 'button is-link' %>
