<%= render 'shared/notice' %>

<div class="box">

  <div class="field">
    <p class="label">Teacher:</p>
    <div class="control">
      <%= @section.teacher %>
    </div>
  </div>

  <div class="field">
    <p class="label">Classroom:</p>
    <div class="control">
      <%= @section.classroom %>
    </div>
  </div>

  <div class="field">
    <p class="label">Days:</p>
    <div class="control">
      <%= @section.days_human %>
    </div>
  </div>

  <div class="field">
    <p class="label">Starts at:</p>
    <div class="control">
      <%= @section.human_starts %>
    </div>
  </div>

  <div class="field">
    <p class="label">Ends at:</p>
    <div class="control">
      <%= @section.human_ends %>
    </div>
  </div>

  <%= link_to 'Edit', edit_section_path(@section), class: 'button is-link' %>
  <%= link_to 'Back', sections_path, class: 'button is-link' %>

</div>
