<%= semantic_form_for(subject) do |form| %>
  <%= render 'shared/errors', model: subject, name: 'Class' %>

  <div class="field">
    <%= form.label :name, class: :label %>
    <div class="control">
      <%= form.text_field :name, class: :input %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: :label %>
    <%= form.text_area :description, class: :textarea %>
  </div>

  <div class='field select is-multiple'>
    <%= form.label :teachers, class: :label %>
    <%= form.input :teachers,label: false, as: :select,
      multiple: true,
      include_blank: false,
      wrapper_html: { tag: 'div' }
    %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-danger' %>
  </div>
<% end %>
