<%= render 'shared/notice' %>

<div class="box">
  <div class="field">
    <p class="label">Name:</p>
    <div class="control">
      <%= @subject.name %>
    </div>
  </div>

  <div class="field">
    <p class="label">Description:</p>
    <div class="control">
      <%= @subject.description %>
    </div>
  </div>

  <div class="field">
    <p class="label">Teachers:</p>
    <div class="control content">
      <ul class="is-medium">
        <% @subject.teacher_subjects.each do |teacher_subject| %>
          <li><%= link_to teacher_subject.teacher.first_and_last_name, teacher_path(teacher_subject.teacher), class: 'link' %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= link_to 'Edit', edit_subject_path(@subject), class: 'button is-link' %>
  <%= link_to 'Back', subjects_path, class: 'button is-link' %>
</div>
