<%= semantic_form_for(teacher) do |form| %>
  <%= render 'shared/errors', model: teacher, name: 'Teacher' %>

  <div class="field">
    <%= form.label :first_name, class: :label %>
    <div class="control">
      <%= form.input :first_name, label: false, wrapper_html: { tag: 'div', class: '' }, input_html: { class: 'input' } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :last_name, class: :label %>
    <div class="control">
      <%= form.input :last_name, label: false, wrapper_html: { tag: 'div', class: '' }, input_html: { class: 'input' } %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-danger' %>
  </div>
<% end %>
