<h1 class="title">Editing Teacher</h1>

<%= render 'form', teacher: @teacher %>

<%= link_to 'Show', @teacher, class: 'button is-info' %>
<%= link_to 'Back', teachers_path, class: 'button is-info' %>
