<%= render 'shared/notice' %>

<div class="box">
  <div class="field">
    <p class="label">First name:</p>
    <div class="control">
      <%= @teacher.first_name %>
    </div>
  </div>

  <div class="field">
    <p class="label">Last name:</p>
    <div class="control">
      <%= @teacher.last_name %>
    </div>
  </div>

  <div class="field">
    <%= link_to 'Edit', edit_teacher_path(@teacher), class: 'button is-link' %>
    <%= link_to 'Back', teachers_path, class: 'button is-link' %>
  </div>

  <div class="field">
    <p class="label">Classes</p>
    <div class="control content">
      <ul class="is-medium">
        <% @teacher.teacher_subjects.each do |teacher_subject| %>
          <%= render 'teacher_subjects/show', teacher_subject: teacher_subject %>
        <% end %>
      </ul>
      <%= render 'teacher_subjects/new' %>
    </div>
  </div>
</div>
