<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Classes', subjects_path, class: 'navbar-item button is-info' %>
          <%= link_to 'Teachers', teachers_path, class: 'navbar-item button is-info ml-1'  %>
          <%= link_to 'Classrooms', classrooms_path, class: 'navbar-item button is-info ml-1'  %>
          <%= link_to 'Sections', sections_path, class: 'navbar-item button is-info ml-1'  %>
          <%= link_to 'My Schedule', schedules_path, class: 'navbar-item button is-info ml-1'  %>
        </div>
      </div>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
